.git
.gitignore
.history
.vscode
LICENSE
README.md
CHANGELOG.md
*/*/.DS_Store*
**/.DS_Store*

.dockerignore
docker
!docker/ssh
!docker/php/config
!docker/php/samples
!docker/nginx/config

phpunit.xml
Jenkinsfile
vendor
node_modules
coverage
bootstrap/cache/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
