/.dev
/.idea
/examples
/.vscode
.git
.gitignore
.history
.vscode
.editorconfig
LICENSE
README.md
CHANGELOG.md
*/*/.DS_Store*
**/.DS_Store*

.dockerignore
Dockerfile*
docker-compose*
docker
!docker/app/ssh
!docker/mysql/ssl
!docker/mongodb/ssl
!docker/queue/config
!docker/queue/docker-entrypoint.sh
!docker/scheduler/cron-jobs
!docker/scheduler/docker-entrypoint.sh
!docker/app/docker-entrypoint.sh
!docker/app/config
!docker/nginx/config

phpunit.xml
Jenkinsfile
vendor
node_modules
coverage
bootstrap/cache/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
