*.md
!README*.md
.env
/.vscode
/.idea
docker/.env
.DS_Store
**/*/.DS_Store
docs/GITCOMMIT
docs/GIT_BRANCH
docs/VERSION
docs/_build
docs/_static
docs/_templates

app.env
queue.env
scheduler.env

app/ssl/
elastic/config/elasticsearch/elasticsearch.crt
elastic/config/elasticsearch/elasticsearch.key
elastic/config/elasticsearch/elasticsearch.keystore
elastic/config/kibana/kibana.crt
elastic/config/kibana/kibana.key
elastic/config/kibana/kibana.keystore
elastic/config/logstash/logstash.crt
elastic/config/logstash/logstash.key
elastic/config/logstash/logstash.keystore
elastic/config/ssl/ca/ca.crt
elastic/config/ssl/ca/ca.key
elastic/config/ssl/docker-cluster-ca.zip
elastic/config/ssl/docker-cluster.zip
